body {
  font-family:Arial, sans-serif;
  text-align: center;
  background-color: white;
}

.container {
  border: 2px solid gray;
  display: inline-block;
  padding: 20px;
  margin-top: 30px;
  vertical-align: top;
}

h2 {
  color:black;
}

.card {
  display: inline-block;
  width: 150px;
  height: 160px;
  margin: 10px;
  border: 20px;
  color: black;
  font-size: 18px;
  

}

.card h3 {
  margin-top: 40px;
}

.yellow {
  background-color: yellow;
}

.pink {
  background-color: red;

}

.blue {
  background-color:lightblue;
}