p{
    color:red;
    background-color : yellow;
    text-align: center;
    }  
    
    .p{
        color:blue;
        background-color : lightgrey;
    }
    #jk{
        font-size: 25px;
    }
    div{
        height:200px;
        width:200px;
        background-color: green;
        padding: 10px;
        border:10px solid black;
        margin:50px;
    }